{% extends 'layout.html' %}
{% load humanize %}
{% block title %}Home | {{ block.super }}{% endblock %}
{% load main_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <p>Do you want a url a new Url?</p>
            {% url_tag %}
            <h2> Recent endpoints</h2>
            <ul class="list-group" id="endpoints">
            </ul>
            <template id="endpoints-template">
                <li class="list-group-item">
                    {% verbatim %}
                    <p><strong>Url name: </strong>{{ url_name }}</p>
                    <p><strong>Json Response: </strong>{{ json_response }} </p>
                    <button data-id="{{ id }}" class="delete"><span class="glyphicon glyphicon-trash"></span></button>
                    <span class="badge">{{ end_count }}</span>
                    {% endverbatim %}
                </li>
            </template>
            <a href="#" id="left_endpoint" disabled="disabled"><span class="glyphicon glyphicon-menu-left"></span></a>
            <a href="#" id="right_endpoint" disabled="disabled"> <span
                    class="glyphicon glyphicon-menu-right"></span></a>
        </div>
        <div class="col-md-6">
            <h2>Request received</h2>
            <div class="panel-group" id="accordion">
                <p class="alert-danger">No endponit</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}
