{% extends 'layout.html' %}
{% block title %}Home | {{ block.super }}{% endblock %}
{% load main_tags %}
{% block content %}
    <div class="row">
    <div class="col-md-6">
        <p>Do you want a url a new Url?</p>
        {% url_tag %}
        <h2> Recent endpoints</h2>
            <ul class="list-group">
                {% for url_end in user.endpoints.all %}
                    <a href="{% url 'dashboardkey' url_end %}" class="list-group-item">
                    <span class="badge">{{ url_end.date_insert }}</span>
                    <h4 class="list-group-item-heading">{% if url_end.url_name %}
                            {{ url_end.url_name }}
                            {% endif %}</h4>
                    <p class="list-group-item-text">{{ url_end }}</p>
                  </a>
                {% endfor %}
                
            </ul>
    </div>
    <div class="col-md-6">
    <h2>Request received</h2>
        {% for url_data in keyends %}
                    <a href="#" class="list-group-item">
                    <span class="badge">6</span>
                    <h4 class="list-group-item-heading">
                        hfdjjd
                    <p class="list-group-item-text">{{ url_data }}</p>
                  </a>
                {% endfor %}
    </div>
    </div>
{% endblock %}