body{
    background: rgba(114,11,208,0.2);
}
footer{
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    border-top-style: double;
}
#welcome{
    text-align: right;
    color: blue;
}

